.instructions {
    border: 2px solid darken($blue, 1%);
    border-radius: 5px;
    margin-top: $sm;
    margin-bottom: $sm;
    padding: $md $md;


h1 {
    
    color: $blue ;
    font-size:$lg;
    text-align: center;
}

.lifeline {
    position:relative;
    top:-3px;
}

.lifeline-icon {
    color: $blue;
    cursor:point;
}

.browswer-default {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    
}

.left {
    border: 1px solid $blue;
    transition: 0.3s linear all;
    
}
.left:hover {
    background-color:$blue;
    color: white;
}

.right {
    border: 1px solid $blue;
    transition: 0.3s linear all;
}
.right:hover {
    background-color:$blue;
    color: white;
}


img {
    width:80%;
    height: 50%; 
}
}
@media (max-width: $md-breakpoint) {
    .instructions img {
        width: 100% !important;
        height: 150% !important;
    }
}
